/.ipynb_checkpoints
/.jupyter
/ACP avec python.py
/AFC avec python.ipynb
/AFC avec python.py
/assurance_auto.csv
/Chap 1 Preprocessing_Dr_Sylla.ipynb
/Chocolat.csv
/clustering.ipynb
/creation de modele avec les donnees titanic.ipynb
/data AFC.xlsx
/data_wrangler.ipynb
/Diabetes_Modele_KNN.sav
/donnees titanice avec python.ipynb
/encodage.ipynb
/exercices_preprocessing.pdf
/Exo 4 Preprocessing.ipynb
/Exo 7 PreProcessing.ipynb
/Exo1 Pre Processing.ipynb
/Exo2 Preprocessing.ipynb
/Exo3 preprocessing.ipynb
/heart.xlsx
/Imputation des valeurs aberrantes pour plusieurs variables.ipynb
/KNN avec les donnees iris.ipynb
/Methode K_PLUS PROCHE VOISIN (METHODE CLASSIFICATION).ipynb
/Methodes de Classification sur les donnees Diabetes.ipynb
/Modele de regression  lineaire.py
/modele_gradiant_diabete.sav
/model_RF_opt.joblib
/Modèles de Classification sur les donnees Heart.html
/Modèles de Classification sur les donnees Heart.ipynb
/Modèles de Classification sur les donnees Heart.pdf
/Nettoyage donnees titanic.ipynb
/Pre-Processing.ipynb
/Prepocessing_FALL.ipynb
/Preprocessinge Wage.ipynb
/prix_maison.csv
/regression sur les donnees prix des maisons.pdf
/regression.ipynb
/titanic.csv
/TP  REGRESSION ( Linear Model,Lasso, Ridge, SVM , Gradient Boosting).html
/TP  REGRESSION ( Linear Model,Lasso, Ridge, SVM , Gradient Boosting).ipynb
/TP1_ML (2).html
/TP2  Methodes  KNN  avec les fonctions.ipynb
/TP2.html
/Untitled.ipynb
/Untitled1.ipynb
/Untitled2.ipynb
/Untitled3.ipynb
/Untitled6.html
/utils.ipynb
/Wage.csv
/warpbreaks.csv